<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <style>
    td,
    th,
    table {
      border: black 2px solid;
    }
  </style>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Username</th>
      </tr>
      <%for(user of users){%>
      <tr>
        <td><%=user.id%></td>
        <td><%=user.email%></td>
        <td><%=user.username%></td>
        <td>
          <form action="user/<%= user.id %>/edit" method="get">
            <button>Edit</button>
          </form>
        </td>
        <td>
          <form action="user/<%= user.id %>/delete" method="get">
            <button>Delete</button>
          </form>
        </td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
